@model S08D03_ViewsModels.Models.Book
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4> @Html.DisplayNameFor(model => model.Title)  </h4>
<h4> @Model.Title </h4>

<h4> @Html.DisplayNameFor(model => model.Price)</h4>
<h4> @Model.Price </h4>

