@model S08D03_ViewsModels.Models.Book
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (@Html.BeginForm()) {

    @Html.HiddenFor(model => model.BookId)
    
   @Html.Partial("_Form", Model)

}

