<form ng-submit="ctrl.contactService.saveContact()" novalidate="novalidate">
    <div class="form-group">
        <label> First Name: </label>
        <input type="text"
               class="form-control"
               ng-model="ctrl.contactService.selected.FirstName"
               ng-required="true"
               ng-minlength="1"
               ng-maxlength="20"
               pattern="[a-zA-Z]{1,20}"
               ng-pattern-err-type="namePattern" />
    </div>
    <div class="form-group">
        <label> Last Name: </label>
        <input type="text"
               class="form-control"
               ng-model="ctrl.contactService.selected.LastName"
               ng-required="true"
               ng-minlength="1"
               ng-maxlength="20"
               pattern="[a-zA-Z]{1,20}"
               ng-pattern-err-type="namePattern" />
    </div>
    <div class="form-group">
        <label> Email: </label>
        <input type="email"
               class="form-control"
               ng-model="ctrl.contactService.selected.Email"
               ng-required="true" />
    </div>
    <div class="form-group">
        <label> Age: </label>
        <input type="number"
               class="form-control"
               ng-model="ctrl.contactService.selected.Age"
               min="18"
               max="64"
               ng-required="true"
               ng-min-err-type="tooYoung"
               ng-max-err-type="tooOld" />
    </div>
    <input type="submit" value="Add Contact" class="col-md-12 btn btn-success" />
</form>