<h3> Contacts: {{ contactsCtrl.contactService.contactList.length }} </h3>
<a href="/contact/new" class="btn btn-info"> Add Contact </a>
<table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Age </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contactsCtrl.contactService.contactList"
            ng-click="contactsCtrl.selectContact(contact)">
            <td> {{contact.Id}} </td>
            <td> {{contact.FirstName}} </td>
            <td> {{contact.LastName}} </td>
            <td> {{contact.Email}} </td>
            <td> {{contact.Age}} </td>
            <td>
                <a href="/contact/edit/{{contact.Id}}" 
                   class="btn btn-sm btn-warning">
                    Edit
                </a>

                <button class="btn btn-sm btn-danger"
                        ng-click="contactsCtrl.remove($index)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>